<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체 게시글 페이지</title>
<link rel="stylesheet" href="/css/admin/boards.css">
</head>
<body>
	<div th:replace="admin/admin-main.html"></div>
	
	<div class="header">
		<h1>BOARD LIST</h1>
	</div>

    <!-- 검색 입력창 추가 -->
    <div class="search-bar">
        <input type="text" placeholder="검색어를 입력하세요..." id="searchInput">
    </div>

    <div class="content-wrapper">
       <div class="board-list">
    <!-- 게시글 1 -->
    <div class="board-card"  th:each="b : ${bList}">
        <div class="board-item">
        	<span class="boardNo">No.[[${b.boardNo}]]</span>
            <span class="author">작성자: [[${b.memberNickName}]]</span>
            <span class="title" th:inline="text">제목 : [[${b.title.length() > 10 ? b.title.substring(0, 10) + '...' : b.title}]]</span>


            
            <!-- 토글 버튼 -->
            <button class="toggle-btn">...</button>
        </div>
    </div>
    <!-- 나머지 게시글들 생략 -->
</div>
    </div>

</body>
</html>