<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지 페이지</title>
<link rel="stylesheet" href="/css/admin/notice.css">
</head>
<body>
    <!-- 관리자 메인 페이지 포함 -->
	<div th:replace="admin/admin-main.html"></div>

    <!-- 공지 페이지 제목 -->
    <div class="header">
        <h1>NOTICE</h1>

        <!-- 공지 목록 및 공지 작성 -->
        <div class="content-wrapper">
            <!-- 공지 목록 -->
            <div class="notice-list">
                <div class="notice-item" th:each="a : ${list}">
                    <h3>제목 : [[${a.title}]]</h3>
                    <p>내용 : [[${a.content}]]</p>
                    <p>작성자 : [[${a.writer}]]| 작성일: [[${a.createDate}]]</p>
                </div>
                <!-- 추가적인 공지 항목들 -->
            </div>

            <!-- 공지 작성 -->
            <button id="toggle-notice-form" class="toggle-button" onclick="location.href='/admin/noticeWrite'">작성하기</button>
           
        </div>
    </div>


</body>
</html>