<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hamo.admin.model.mapper.AdminMapper">
	<insert id="writeNotice">
		insert into admin_board
		values(seq_admin_board.nextval, #{title}, 
		#{content}, default, default, default, default, #{writer})
	</insert>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from admin_board
		where admin_board_status = 'Y'
	</select>
	
	<select id="selectNoticeList" resultType="Admin">
		select board_no, title, content, a.create_date, a.update_date, views, admin_board_status, writer, member_nickname
		from admin_board a
			 join member m on(writer=member_no)
		where admin_board_status = 'Y'
		order by create_date desc
	</select>
	
	<select id="selectNoticeOne" resultType="Admin">
		select  board_no, title, content
		from admin_board
		where admin_board_status = 'Y' and
			  board_no = #{id}
			 
	</select>
</mapper>