<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 공지사항</title>
    <link rel="stylesheet" href="/css/board/noticeView.css">

</head>
<body>
	<div th:insert="common/top.html"></div>
    <div class="container">
        <div class="notice-header">
            <h1>공지사항</h1>
        </div>

        <div class="notice-list">
            <div class="notice-item">
                <span class="notice-badge badge-green">점검</span>
                <div class="notice-content">
                    <p href="#" class="notice-title">[점검완료] 1/3(금) 정기 웹 서버점검 (13:00~14:00)</p>
                </div>
                <div class="notice-date">2024.01.03</div>
            </div>

            <div class="notice-item">
                <span class="notice-badge badge-blue">공지</span>
                <div class="notice-content">
                    <a href="/board/noticeDetail" class="notice-title">모임간 주의 사항 안내</a>
                </div>
                <div class="notice-date">2024.01.01</div>
            </div>

            <div class="notice-item">
                <span class="notice-badge badge-blue">공지</span>
                <div class="notice-content">
                    <p href="#" class="notice-title">게시글 작성 방법 안내</p>
                </div>
                <div class="notice-date">2023.12.31</div>
            </div>
        </div>

        <div class="pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">다음</a>
        </div>
    </div>
<!--     <div th:insert="common/footer.html"></div> -->
</body>
</html>