<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 공지사항</title>
    <link rel="stylesheet" href="/css/board/noticeView.css">

</head>
<body>
	<div th:insert="common/top.html"></div>
    <div class="container">
        <div class="notice-header">
            <h1>공지사항</h1>
        </div>

        <div class="notice-list" th:each="a : ${aList}">
            <div class="notice-item">
                <div class="notice-content">
                    [[${a.content}]]
                </div>
                <div class="notice-date">[[${a.createDate}]]</div>
            </div>
        </div>

        <div class="pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">다음</a>
        </div>
    </div>
<!--     <div th:insert="common/footer.html"></div> -->
</body>
</html>