<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세보기</title>
    <link rel="stylesheet" href="/css/board/noticeDetail.css">

</head>
<body>
<div th:insert="common/top.html"></div>
    <div class="container">
        <div class="notice-header">
            <span class="notice-badge">공지</span>
            <h1 class="notice-title">[[${a.title}]]</h1>
            <span class="notice-date">[[${a.createDate}]]</span>
        </div>

        <div class="character-banner">
            <h2>안내사항</h2>
        </div>

        <div class="notice-content" th:utext="${a.content}">
<!--         <textarea class="notice-content"  rows="20" style="resize: none;" readonly>[[${a.content}]]</textarea> -->
        	
        </div>

        <div class="navigation">
            <a href="#" class="nav-item">
                <span class="nav-label">이전글</span>
                <span>[점검완료] 1/3(금) 정기 웹 서버점검 (13:00~14:00)</span>
                <span class="nav-date"></span>
            </a>
            <a href="#" class="nav-item">
                <span class="nav-label">다음글</span>
                <span>게시글 작성 방법 안내</span>
                <span class="nav-date"></span>
            </a>
        </div>
    </div>
</body>
</html>