<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 참여한 활동</title>
    <link rel="stylesheet" href="/css/user_inform/user.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <header id="top">
        <div class="logo">
        <a href="/">HAMO</a>
<!--             <a href="${pageContext.servletContext.contextPath}">HAMO</a> -->
        </div>
    </header>
    <div class="main-container">
   <div th:insert ="user-inform/sidebar.html"></div>
<!--         <jsp:include page="sideBar.jsp" /> -->
        <div class="content-wrapper">
            <div class="container">
                <div class="content">
                    <h1>
                        MY ACTIVITE
                        <span class="activity-count" th:text="' 총 ' + ${count} + ' 건'"></span>
                    </h1>
   
                    <div class="activity" th:each="a: ${list}" >
                        <div class="activity-status completed" th:text="${a.boardStatus.trim() == 'Y' ? '활동 완료' : '진행 중'}"></div>
				
                        <div class="activity-title" th:text="${a.title}"></div>
                        <div class="activity-description"th:utext="${a.content}"></div>
                        <div class="activity-meta">
                            <div class="activity-info" >
                                <span class="activity-category"th:text="${a.categoryName}"></span>
                                <span class="activity-date" th:text="${a.createDate}"></span>
                            </div>
                        </div>
                  	</div>
                  	
                  	<div th:if="${#lists.isEmpty(list)}">
                  	                  		<p>참여한 활동이 없습니다.</p>
                  	</div>
                  	
                </div>
            </div>
        </div>
    </div>
<!--     <jsp:include page="../common/footer.jsp"/> -->
	<div th:insert = "common/footer.html"></div>
	
	<script th:inline="javascript">
	
	const change = document.getElementsByClassName('activity-status completed');
	console.log(change);
	$.ajax ({
		url : '/member/change',
		type : 'post',
		data : {boardNo : boardNo,
				status : status
				},
		success : data => {
			if(status =='a') {
				
			}else if(status =='r'){
				
			}
		},
		error : data => console.log(data)
	});
	</script>
</body>
</html>    